#homeNavBar{
    margin-top: 25vh;
    height: 20vh;
}

#title{
    margin-top: 45vh;
    height: 10vh;
    text-align: right;
    vertical-align: middle;
    font-size: 40px;
    color: white;
}

.homeNavButton{
    height: 15vh;
    border: white 5px solid;
}