#logo{
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    border: black 5px solid;
}

.homeNavButton{
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    border: black 5px solid;
}

.homeImg{
    height: 30vh;
    text-align: center;
    vertical-align: middle;
    border: black 5px solid;
}

#title{
    height: 35vh;
    text-align: center;
    vertical-align: middle;
    border: black 5px solid;
}

#shadow{
    height: 15vh;
    text-align: center;
    vertical-align: middle;
    border: black 5px solid;
}